/* Q1 SECTION */
.q1-section-title {
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
}
.q1-section .ques-title {
  padding-top: 84px;
}
.ques-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  position: relative;
}

.ques-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  position: relative;
}

.q1-section {
  margin-top: 50px;
  padding-top: 0;
  background-image: url("../img/q1-section-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.q1-section .text-part {
  padding-top: 72px;
}

.q1-section .ques-text {
  padding-top: 24px;
}

/* -------- */
/* Q2 SECTION */

.q2-section {
  margin-top: 90px;
}

.q2-section .ques-text {
  padding-top: 24px;
}

/* -------- */

/* STEPS SECTION */

.steps-section {
  margin-top: 140px;
}

.steps-section .section-normal-p {
  padding-top: 70px;
}
.steps-section-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
.steps-section-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 24px;
  text-align: center;
  margin: 0 auto;
}

.step-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding-top: 20px;
  display: block;
}

.step-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-top: 20px;
  letter-spacing: 0.05em;
}

.steps-flex {
  padding-top: 34px;
}

.step-card {
  margin: 0 10px;
  padding: 18px 28px 30px;
  background: linear-gradient(154.55deg, #2d2c2c -23.46%, #171717 106.21%);
  border-radius: 30px;
}

.step-card-light {
  background: linear-gradient(180deg, #d9d5d5 0%, #c5c5c5 100%);
}

.step-card:first-of-type {
  margin-left: 0;
}

.step-card:last-of-type {
  margin-right: 0;
}

.step-title span {
  padding: 0 1px;
}

.step-title span:nth-child(1) {
  padding-left: 8px;
}

/* -------- */

/* Q3 SECTION */

.q3-section {
  margin-top: 132px;
}

.q3-section .ques-title::before,
.q3-section .ques-text::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -280px;
  width: 272px;
  height: 11px;
  background-image: url("../img/Line\ 4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.q3-section .ques-text::before {
  top: 4px;
}
.q3-section .ques-title {
  background: linear-gradient(180deg, #d27254 0%, #c73926 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.q3-section .ques-text {
  margin-top: 76px;
}

/* -------- */

/* FOOTER */
.main-footer-light {
  margin-top: 48px;
}
/* -------- */
@media (min-width: 992px) {
  /* Q1 SECTION */

  .q1-section .image-part img {
    margin-right: -20%;
  }

  /* -------- */
  /* STEPS SECTION */

  .step-card-img {
    margin-left: -36px;
  }
  /* -------- */
  /* Q3 SECTION */
  .q3-section .text-part {
    margin-top: 30px;
  }

  /* -------- */
}
@media (max-width: 768px) {
  /* Q1 SECTION */
  .ques-title {
    font-size: 18px !important;
    line-height: 21px !important;
  }
  .q1-section .ques-title{
    padding-top: 24px;
  }

  .ques-text {
    font-size: 14px;
    line-height: 22px;
  }

  .q1-section {
    background-size: 130%;
    background-position: 10% 12%;
  }
  .q1-section .text-part {
    padding-top: 32px;
  }
  .q1-section .ques-text,
  .q2-section .ques-text {
    padding-top: 10px;
  }
  .q1-section-title {
    font-size: 36px;
    line-height: 40px;
  }

  /* -------- */
  /* Q2 SECTION */

  .q2-section .text-part {
    padding-top: 24px;
  }
  /* -------- */

  /* STEPS SECTION */

  .steps-section {
    margin-top: 92px;
  }

  .steps-section .section-normal-p {
    padding-top: 20px;
  }

  .steps-mobile-vis {
    padding-top: 35px;
  }

  .steps-mobile-vis .nav-link {
    background: linear-gradient(154.55deg, #2d2c2c -23.46%, #171717 106.21%);
    border-radius: 13px;
    margin-top: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    padding: 0;
  }

  .steps-mobile-vis .nav-link.active {
    display: none;
  }

  .step-card {
    padding: 0 18px 46px;
  }

  .step-card-img {
    width: 98px;
  }

  .step-title {
    font-size: 20px;
    line-height: 24px;
    padding-top: 60px;
  }

  .steps-mobile-vis .nav-link span img {
    width: 9px;
    height: 28px;
  }
  .steps-mobile-vis .nav-link-light {
    background: linear-gradient(180deg, #d9d5d5 0%, #c5c5c5 100%);
  }
  .steps-section-title {
    font-size: 32px;
  }
  .steps-section-p {
    font-size: 16px;
  }

  /* -------- */

  /* Q3 SECTION */

  .q3-section {
    padding-left: 0;
    padding-right: var(--container-pr);
  }

  .q3-section .image-part img {
    width: 120px;
  }

  .q3-section .ques-title::before,
  .q3-section .ques-text::before {
    left: -70px;
    width: 56px;
    height: 7px;
    background-position: right;
  }

  .q3-section .ques-text {
    margin-top: 8px;
  }

  /* -------- */


}
