/* GLOBAL */
:root {
  --text-color: #171717;
  --container-pr: 0;
  --container-pl: 0;
}
@font-face {
  font-family: Inter;
  font-weight: 100;
  src: url("../fonts/Inter/Inter-Thin-slnt=0.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 200;
  src: url("../fonts/Inter/Inter-ExtraLight-slnt=0.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 300;
  src: url("../fonts/Inter/Inter-Light-slnt=0.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Regular-slnt=0.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Medium-slnt=0.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url("../fonts/Inter/Inter-SemiBold-slnt=0.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("../fonts/Inter/Inter-Bold-slnt=0.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url("../fonts/Inter/Inter-ExtraBold-slnt=0.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 900;
  src: url("../fonts/Inter/Inter-Black-slnt=0.ttf");
}

* {
  direction: ltr;
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  direction: ltr;
  background-color: #000000;
  overflow-x: hidden;
}

.body-bg-light {
  background-color: rgb(239, 239, 239);
  background-size: 105%;
  background-repeat: no-repeat;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  color: initial;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: Inter, serif;
  /* font-weight: 900 !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
button {
  margin-bottom: 0 !important;
  color: var(--text-color) !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

.section-small-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.section-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}

.section-normal-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.05em;
}

.light-vis {
  display: none;
}

.container {
  padding-left: var(--container-pl);
  padding-right: var(--container-pr);
}
.play-button,
.pricing-first-section-button {
  color: #171717 !important;
}
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1180px;
  }
}
@media (min-width: 1900px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
/* -------- */

/* ----HEADER---- */

.main-header .navbar {
  padding-top: 30px;
}

.main-header .nav-item .nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0 14px;
  letter-spacing: 0.05em;
}

.main-header .navbar-nav {
  padding-top: 0 !important;
}

.change-theme-button-parent {
  margin-right: 22px;
  width: 76px;
  height: 40px;
  padding: 4px;
  background-color: #5a5a5a;
  position: relative;
  display: inline-block;
  border-radius: 19px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.switch .change-theme-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/off-day.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 31px;
  width: 31px;
  left: 0;
  bottom: 0;
  background-image: url("../img/on-night.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change-theme-input:checked + .slider:before {
  background-image: url("../img/on-day.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.change-theme-input:checked + .slider {
  background-image: url("../img/off-night.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.change-theme-input:checked + .slider:before {
  -webkit-transform: translateX(38px);
  -ms-transform: translateX(38px);
  transform: translateX(38px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.main-header .nav-item .dropdown-toggle {
  border: none;
  background: unset;
  display: flex;
  justify-content: center;
}
.main-header .nav-item .dropdown-toggle::after {
  position: absolute;
  bottom: -4px;
  border: none !important;
  background-image: url(../img/header-dropdown-arrow.svg);
  background-repeat: no-repeat;
  background-size: 50px 7px;
  background-position: center;
  width: 50px;
  height: 7px;
}

.dropdown-menu {
  margin-top: 16px !important;
  padding: 10px 0 14px !important;
  border-radius: 25px;
  background-color: #000;
  border: 1px solid rgb(239, 239, 239);
}

.dropdown-menu li {
  padding: 4px 2px 0px;
}

.dropdown-menu-light {
  background: #eeeeee;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item:active,
.dropdown-item.active {
  background-color: unset;
}
.header-buttons-parent a {
  display: block;
}
.register-button {
  background: #e28b3c;
  border-radius: 10px;
  padding: 9px 0 8px;
  width: 180px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  background-image: url("../img/register-button-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.login-button {
  border: 2px solid #e28b3c;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 9px 0 8px;
  width: 180px;
  margin-top: 15px;
  background-image: url("../img/login-button-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main-header .navbar-toggler:focus:not(:focus-visible) {
  box-shadow: none;
}

/* -------- */

/* FOOTER */
.main-footer {
  margin-top: 200px;
  padding-top: 80px;
  padding-bottom: 30px;
  background-image: url("../img/footer-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.main-footer-light {
  background-image: url("../img/footer-bg-light.png");
}

.main-footer .section-normal-p {
  padding-top: 40px;
}
.main-footer hr {
  width: 100%;
  height: 0.5px;
  background-color: #ffffff;
  margin-top: 106px;
  margin-bottom: 0;
}
.footer-ul {
  padding-top: 64px !important;
  list-style: none;
}

.footer-ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-top: 6px;
}
.footer-form-box {
  background: linear-gradient(
    154.55deg,
    rgba(45, 44, 44, 0.6) -23.46%,
    rgba(23, 23, 23, 0.6) 106.21%
  );
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  padding: 42px 40px 40px;
  width: 495px;
}

.footer-form-box-light {
  background: linear-gradient(
    154.55deg,
    rgba(163, 163, 163, 0.6) -23.45%,
    rgba(67, 67, 67, 0.6) 106.21%
  );
  backdrop-filter: blur(7px);
  opacity: 0.9;
}

.footer-form {
  padding-top: 40px;
}

.footer-form-input,
.footer-form-textarea {
  background: #000000;
  border-radius: 18px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer-form-input::placeholder,
.footer-form-textarea::placeholder {
  color: #808080;
}

.footer-form-input {
  padding: 8px 15px;
  width: 50%;
}

.footer-form-input:first-of-type {
  margin-right: 10px;
}

.footer-form-input:last-of-type {
  margin-left: 10px;
}

.footer-form-textarea-parent {
  position: relative;
}

.footer-form-textarea {
  margin-top: 14px;
  padding: 14px 15px;
  width: 100%;
}

.footer-form-submit {
  width: 64px;
  height: 64px;
  background-image: url("../img/form-send-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e28b3c;
  border-radius: 45px;
  position: absolute;
  right: -20px;
  bottom: -20px;
  border: none;
}
.footer-copy-right-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-top: 20px;
}

/* -------- */

@media (min-width: 992px) {
  /* ----HEADER---- */
  .main-header .navbar > .container {
    flex-wrap: wrap;
    padding: 0 !important;
  }
  .main-header .navbar-brand-parent {
    width: 80%;
    max-height: 70px;
  }
  .main-header .navbar-collapse {
    width: 100%;
    justify-content: space-between;
  }
  .main-header .nav-item:first-of-type .nav-link {
    padding-left: 0;
  }
  .header-buttons-flex {
    transform: translateY(-40px);
  }
  /* -------- */

  /* Footer */

  .footer-ul .right-part {
    padding-left: 50px;
  }
  /* -------- */
}

@media (max-width: 768px) {
  /* GLOBAL */
  .section-title {
    font-size: 28px;
    line-height: 32px;
  }
  .section-normal-p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
  /* ----HEADER---- */
  .main-header .nav-item {
    padding-top: 4px;
  }
  .main-header .nav-item .nav-link {
    font-size: 14px;
    line-height: 26px;
    padding: 0;
  }
  .main-header .nav-item {
    padding-top: 8px;
  }
  .change-theme-button-parent {
    margin-top: 20px;
    margin-left: 0;
  }
  .register-button,
  .login-button {
    padding: 8px 0 7px;
    width: 120px;
    font-size: 14px;
    margin-top: 10px;
  }
  .navbar-nav .dropdown-menu {
    margin-top: 10px !important;
    padding: 6px 0 10px !important;
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    font-size: 14px;
    line-height: 26px;
    padding: 0 10px;
  }

  /* -------- */
  /* Footer */
  .main-footer {
    margin-top: 40px;
    padding-top: 80px;
    background-position: center -100px;
    padding-bottom: 20px;
  }

  .main-footer .form-part {
    max-width: 100%;
  }
  .main-footer .text-part {
    padding-top: 38px;
  }
  .main-footer .section-normal-p {
    padding-top: 28px;
  }
  .main-footer hr {
    margin-top: 30px;
  }
  .footer-ul {
    padding-top: 64px !important;
    list-style: none;
  }

  .footer-ul li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    padding-top: 6px;
  }
  .footer-form-box {
    padding: 22px 30px 20px 26px;
  }
  .footer-form-input {
    padding: 2px 20px;
    font-size: 10px;
    line-height: 12px;
  }

  .footer-form-textarea {
    font-size: 10px;
    line-height: 12px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .footer-form-input:first-of-type {
    margin-right: 14px;
  }

  .footer-form-input:last-of-type {
    margin-left: 14px;
  }

  .footer-form {
    padding-top: 18px;
  }

  .footer-form-submit {
    width: 38px;
    height: 38px;
    right: -14px;
    bottom: -12px;
  }

  .footer-form-submit img {
    width: 20px;
  }
  .footer-ul {
    padding-top: 35px !important;
    text-align: center;
  }
  .footer-ul li {
    padding-top: 8px;
  }
  .footer-copy-right-text {
    text-align: center;
  }
  /* -------- */
}

@media (max-width: 575px) {
  /* GLOBAL */
  :root {
    --container-pr: 15px;
    --container-pl: 15px;
  }
  /* -------- */
}
