.lix-marketplace-first-section {
  background-image: url("../img/lix-marketplace/lix-marketplace-img.png"),
    url("../img/lix-marketplace/lix-marketplace-bg-img.png");
  background-size: 45% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: center right, center top;
}
.lix-marketplace-first-section-light {
  background-image: url("../img/lix-marketplace/lix-marketplace-img.png"),
    url("../img/q1-section-bg-light.png");
}

.first-section-title {
  font-weight: 900;
  font-size: 60px;
  line-height: 58px;
}
.section-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  padding-top: 24px;
}
.play-button {
  width: 180px;
  height: 40px;
  background-image: url(../img/form-send-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e28b3c;
  border-radius: 10px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.play-button img {
  width: 20px;
  padding-left: 8px;
}
.lix-marketplace-second-section img {
  width: 90px;
  height: 90px;
}
@media (min-width: 992px) {
  .lix-marketplace-first-section-flex {
    min-height: 640px;
  }
}
@media (max-width: 768px) {
  .first-section-title {
    font-size: 40px;
    line-height: 48px;
  }
  .play-button {
    margin-top: 10px;
    width: 124px;
    height: 34px;
    font-size: 16px;
  }

  .play-button img {
    width: 20px;
    height: 20px;
    margin-left: 2px;
  }
  .section-p {
    font-size: 16px;
    line-height: 22px;
  }
  .lix-marketplace-second-section img {
    width: 60px;
    height: 60px;
    margin-top: 24px;
  }
}
