.press-card-section {
  padding-top: 48px;
}
.press-card-section .press-card-row {
  display: flex;
  flex-wrap: wrap;
}
.press-card-section .press-card-parent {
  padding: 12px 10px;
}
.press-card-section .press-card-parent:nth-child(odd) {
  padding-left: 0;
}
.press-card-section .press-card-parent:nth-child(even) {
  padding-right: 0;
}
.press-card-section .press-card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  padding-top: 24px;
}
.press-card-section .press-card-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.press-card-section .press-card hr {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 24px 0;
}
.press-card-section-light .press-card hr {
  background-color: #171717;
}
.press-card-section .press-card-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.press-card-section .press-card {
  background: linear-gradient(
      97.57deg,
      rgba(43, 43, 43, 0.5) 31.49%,
      rgba(27, 27, 27, 0.5) 113.66%
    ),
    radial-gradient(
      43.71% 68.58% at 85.17% 11.17%,
      rgba(243, 243, 243, 0.5) 0%,
      rgba(228, 175, 128, 0.5) 55.73%,
      rgba(216, 125, 43, 0.5) 100%
    );
  backdrop-filter: blur(200px);
  border-radius: 44px;
  padding: 20px 20px 24px;
  height: 100%;
}
.press-card-section-light .press-card {
  background: linear-gradient(
      130.63deg,
      rgba(208, 208, 208, 0.5) 26.91%,
      rgba(182, 182, 182, 0.5) 73.09%
    ),
    radial-gradient(
      43.71% 68.58% at 85.17% 11.17%,
      rgba(243, 243, 243, 0.5) 0%,
      rgba(228, 175, 128, 0.5) 55.73%,
      rgba(216, 125, 43, 0.5) 100%
    );
}
.press-card-section .press-card-date-icons-flex {
  padding-top: 38px;
}
.press-card-section .press-card-img {
  width: 100%;
  border-radius: 30px;
}
.press-card-section .press-card-text-part {
  padding: 0 30px;
}
.main-footer {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .press-card-section {
    padding-top: 16px;
  }
  .press-card-section .press-card {
    padding: 10px 10px 12px;
  }
  .press-card-section .press-card-text-part {
    padding: 0 10px;
  }
  .press-card-section .press-card-title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: unset;
    padding-top: 14px;
  }
  .press-card-section .press-card hr {
    margin: 12px 0;
  }
  .press-card-section .press-card-p {
    font-size: 14px;
    line-height: 21px;
  }
  .press-card-section .press-card-date {
    font-size: 14px;
  }
  .press-card-date-icons-flex img {
    width: 24px;
    height: 24px;
  }
  .press-card-section .press-card-parent {
    padding: 8px 0;
  }
}
